.woocommerce, .woocommerce-page {
	&.product-columns-2 {
		ul.products {
			li.product {
				width:48%;
			}
		}
	}
	&.product-columns-3 {
		ul.products {
			li.product {
				width:30.75%;
			}
		}
	}
	&.product-columns-5 {
		ul.products {
			li.product {
				width:16.9%;
			}
		}
	}
}