ul.products li.product .wc-new-badge {
	font-size:.75em;
	text-transform: uppercase;
	color: white;
	background:#eb4649;
	padding:.2em .5em;
	display: inline-block;
	font-weight: 700;
	border-radius:2px;
}